.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu,.Quiz{
  width: 500px;
  background-color: grey;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu input,button{
  width: 200px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
}